<div class="c-panel-label">
	Filter
</div>
<div class="c-panel-sub-label">
	Click to hide/show line
</div>
<div class="c-panel-body">
	
	<div id="day-filter">
		<select id="filter-menu" class="form-control">
			<option value="overall">Overall</option>
		</select>
	</div>

	<div id="bound-filter">
		<select id="bound-menu" class="form-control">
			<option value="-a">General Average</option>
			<option value="-n">Northbound</option>
			<option value="-s">Southbound</option>
		</select>
	</div>

	<div id="line-filter">
		
	</div>
</div>