<div class="c-panel-label">
	Filter
</div>
<div class="c-panel-sub-label">
	Click to hide/show line
</div>
<div class="c-panel-body">
	<div id="day-filter">
		<select class="form-control">
			<option>Overall</option>
			<option>Weekends</option>
			<option>Weekdays</option>
			<option>Monday</option>
			<option>Tuesday</option>
			<option>Wednesday</option>
			<option>Thursday</option>
			<option>Friday</option>
			<option>Saturday</option>
			<option>Sunday</option>
		</select>
	</div>
	<div id="line-filter">
		
	</div>
</div>