<div class="row">
	<div class="col-xs-6">
		<div class="c-panel-label">
			Visualization
		</div>
		<div class="c-panel-sub-label">
			Circles represent stations
		</div>
	</div>
	<div class="col-xs-6">
		<div class="vis-btn">
			Group by Lines
		</div>
		<div class="vis-btn">
			All Stations
		</div>
	</div>
</div>
<div class="c-panel-body">
	<div id="bubble-chart">
	</div>
</div>
<div id="testp">
	</div>