<div class="row">
	<div class="col-xs-6">
		<div id="visualization-title" class="c-panel-label">
			Traffic along All Stations
		</div>
		<div class="c-panel-sub-label">
			Circles represent stations
		</div>
	</div>
	<div class="col-xs-6">
		<div id="view-scheme" class="vis-btn dropdown">
			<div class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
				See Line
				<span class="caret"> </span>
			</div>
			<ul id="view-scheme-menu" class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="view-scheme">
			</ul>
		</div>
		<div id="view-by-lines" class="vis-btn">
			Group by Lines
		</div>
		<div id="view-all" class="vis-btn active">
			All Stations
		</div>
	</div>
</div>
<div class="c-panel-body">
	<div id="bubble-chart">
	</div>
</div>
<div id="testp">
	</div>