body {
	font-family: 'Roboto', sans-serif;
}

#bubble-chart {
	background: #E5E5E5;
	height:450px;
	width:100%;
}

#time-bar {
	width:30px;
	height:450px;
	background: #E5E5E5;
}

.c-panel-label {
	font-size:1.4em;
	font-weight: 700;
}

.c-panel-sub-label {
	font-size:0.8em;
	color:#888888;

}

.c-panel-body {
	margin-top:16px;
}

.vis-btn {
	background:#E5E5E5;
	padding:11px 16px;
	float:right;
}

.vis-btn:hover {
	background:#D5D5D5;
	cursor:pointer;
}

.line-square {
	float:left;
	position:relative;
	width:15px;
	height:15px;
	margin-right:8px;
	margin-top:2px;
	background:#222222;

	border-width: 2px;
	border-color:#222222;
	border-style: solid;
	border-radius:2px;
}

.line-square.unselected {
	background:none;
}

.line-square:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0);
    z-index: 1;
}

.line-item {
	margin:8px 0px;
}

.line-item:hover .line-label {
	color:#888888;
	cursor:pointer;
}

.line-item:hover .line-square:after {
	cursor:pointer;
  background-color: rgba(255, 255, 255, .2);
}

#content {
	padding-top:64px;
}