body {
	font-family: 'Roboto', sans-serif;
}

#bubble-chart {
	/*background: #E5E5E5;*/
	height:450px;
	width:100%;
	border: 1px solid #E5E5E5;
}

#time-slider {
	height:450px;
	width:100%;
	/*border: 1px solid #E5E5E5;*/
}

#day-filter select{
	border-radius: 0px
}

#day-filter {
	margin-bottom:8px;
}

#bound-filter select{
	border-radius: 0px
}

#time-bar {
	width:30px;
	height:450px;
	background: #E5E5E5;
}

.c-panel-label {
	font-size:1.4em;
	font-weight: 700;
}

.c-panel-sub-label {
	font-size:0.8em;
	color:#888888;

}

.c-panel-body {
	margin-top:16px;
}

.vis-btn {
	background:#E5E5E5;
	padding:11px 16px;
	float:right;
}

.vis-btn:hover {
	background:#D5D5D5;
	cursor:pointer;
}

.vis-btn.active {
	background:#888888;
	color:#FFFFFF;
}

.line-square {
	float:left;
	position:relative;
	width:15px;
	height:15px;
	margin-right:8px;
	margin-top:2px;
	background:#222222;

	border-width: 2px;
	border-color:#222222;
	border-style: solid;
	border-radius:2px;
}

.line-square.unselected {
	background:none;
}

.line-square:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0);
    z-index: 1;
}

.line-item {
	margin:8px 0px;
}

.line-item:hover .line-label {
	color:#888888;
	cursor:pointer;
}

.line-item:hover .line-square:after {
	cursor:pointer;
  background-color: rgba(255, 255, 255, .2);
}

.line-square-menu {
	margin-top:6px;
	margin-left:8px;
}

.line-drop-down-item {
	padding-top:4px;
	padding-bottom:4px;
	color:#000000 !important;
}

.line-drop-down-item:hover {
	background:#E5E5E5;
}

.dropdown-menu:before {
  position: absolute;
  top: -10px;
  right: 9px;
  display: inline-block;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #ccc;
  border-left: 10px solid transparent;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  content: '';
}

.dropdown-menu:after {
  position: absolute;
  top: -9px;
  right: 10px;
  display: inline-block;
  border-right: 9px solid transparent;
  border-bottom: 9px solid #ffffff;
  border-left: 9px solid transparent;
  content: '';
}

#content {
	padding-top:64px;
}

.circle-line:hover {
	cursor:pointer;
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(255, 255, 255, 1);
  color: #222222;
  border-radius: 2px;
  border: 1px #D5D5D5 solid;
  -webkit-transition: opacity 0.25s linear;
	-moz-transition: opacity 0.25s linear;
	-ms-transition: opacity 0.25s linear;
	-o-transition: opacity 0.25s linear;
	transition: opacity 0.25s linear;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:before, .d3-tip:after {
  content: "";
	position: absolute;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	top: 100%;
	left: 50%;
	margin-left: -10px;
}

.d3-tip:after {
	border-top: 10px solid rgba(255, 255, 255, 1);
	margin-top: -2px;
	z-index: 1;
}

.d3-tip:before {
	border-top: 1px solid #D5D5D5;
	border-top: 9px solid #D5D5D5;
	margin-top: 0px;
}

.unselectable {
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   -ms-user-select: none;
   user-select: none;
}

/* Style northward tooltips differently */
/*.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}*/