.line-0 {
	background:#e25b83;
	border-color:#e25b83;
}

.line-1 {
	background:#ec7735;
	border-color:#ec7735;
}
.line-2 {
	background:#70c49b;
	border-color:#70c49b;
}
.line-3 {
	background:#f6c14f;
	border-color:#f6c14f;
}
.line-4 {
	background:#8d5641;
	border-color:#8d5641;
}
.line-5 {
	background:#2e91cb;
	border-color:#2e91cb;
}
.line-6 {
	background:#53c4c8;
	border-color:#53c4c8;
}
.line-7 {
	background:#b193c0;
	border-color:#b193c0;
}
.line-8 {
	background:#c6c6c0;
	border-color:#c6c6c0;
}

.line-text-0 {
	color:#e25b83;
}

.line-text-1 {
	color:#ec7735;
}
.line-text-2 {
	color:#70c49b;
}
.line-text-3 {
	color:#f6c14f;
}
.line-text-4 {
	color:#8d5641;
}
.line-text-5 {
	color:#2e91cb;
}
.line-text-6 {
	color:#53c4c8;
}
.line-text-7 {
	color:#b193c0;
}
.line-text-8 {
	color:#c6c6c0;
}

/*.line-0 {
	background:rgb(141,211,199);
	border-color:rgb(141,211,199);
}

.line-1 {
	background:rgb(255,255,179);
	border-color:rgb(255,255,179);
}
.line-2 {
	background:rgb(190,186,218);
	border-color:rgb(190,186,218);
}
.line-3 {
	background:rgb(251,128,114);
	border-color:rgb(251,128,114);
}
.line-4 {
	background:rgb(128,177,211);
	border-color:rgb(128,177,211);
}
.line-5 {
	background:rgb(253,180,98);
	border-color:rgb(253,180,98);
}
.line-6 {
	background:rgb(179,222,105);
	border-color:rgb(179,222,105);
}
.line-7 {
	background:rgb(252,205,229);
	border-color:rgb(252,205,229);
}
.line-8 {
	background:rgb(217,217,217);
	border-color:rgb(217,217,217);
}*/

/*
"#e25b83", "#ec7735", "#70c49b", "#f6c14f", 
"#8d5641", "#2e91cb", "#53c4c8", "#b193c0", 
"#c6c6c0"
*/




