.line-0 {
	background:#e25b83;
	border-color:#e25b83;
}

.line-1 {
	background:#ec7735;
	border-color:#ec7735;
}
.line-2 {
	background:#70c49b;
	border-color:#70c49b;
}
.line-3 {
	background:#f6c14f;
	border-color:#f6c14f;
}
.line-4 {
	background:#8d5641;
	border-color:#8d5641;
}
.line-5 {
	background:#2e91cb;
	border-color:#2e91cb;
}
.line-6 {
	background:#53c4c8;
	border-color:#53c4c8;
}
.line-7 {
	background:#b193c0;
	border-color:#b193c0;
}
.line-8 {
	background:#c6c6c0;
	border-color:#c6c6c0;
}

/*
"#e25b83", "#ec7735", "#70c49b", "#f6c14f", 
"#8d5641", "#2e91cb", "#53c4c8", "#b193c0", 
"#c6c6c0"
*/




